In [24]:
import cv2
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.image as img

In [8]:
def dump_images(df):
  for i, row in df.iterrows():
    image = cv2.imdecode(np.frombuffer(row['image'], np.uint8), cv2.IMREAD_COLOR)
    cv2.imwrite(f'./dataset/{i}.jpg', image)

In [12]:
easy_images_df = pd.read_parquet('easy-500/images.parquet')
easy_labels_df = pd.read_parquet('easy-500/labels.parquet')

hard_images_df = pd.read_parquet('hard-500/images.parquet')
hard_labels_df = pd.read_parquet('hard-500/labels.parquet')

easy_images = dump_images(easy_images_df)
hard_images = dump_images(hard_images_df)

In [13]:
easy_labels_df.head()

   image_id    x    y  orientation  radius  class
0         0  269  450     0.000000      17      0
1         0  533  299     0.663225      45      1
2         0  539  427     0.610865      46      1
3         0  365  148     0.488692      45      1
4         0  472  136     2.426008      40      1

In [16]:
easy_labels_df.shape

(11500, 6)

In [19]:
easy_labels_df['image_id'].value_counts()

image_id
0      23
329    23
342    23
341    23
340    23
       ..
161    23
160    23
159    23
158    23
499    23
Name: count, Length: 500, dtype: int64

In [23]:
easy_labels_df[easy_labels_df['image_id'] == 0]

    image_id    x    y  orientation  radius  class
0          0  269  450     0.000000      17      0
1          0  533  299     0.663225      45      1
2          0  539  427     0.610865      46      1
3          0  365  148     0.488692      45      1
4          0  472  136     2.426008      40      1
5          0  846  448     4.660029      41      1
6          0  613  248     6.003933      41      1
7          0  287  214     2.391101      48      1
8          0  657  387     5.393067      44      1
9          0  752  311     2.792527      41      1
10         0  657  134     2.565634      49      1
11         0  699  245     3.019420      38      1
12         0  308  382     4.537856      39      2
13         0  926  116     6.021386      39      2
14         0  398  398     0.506145      42      2
15         0  774  120     3.333579      47      2
16         0  221  307     5.724680      48      2
17         0  129  390     3.106686      49      2
18         0  362  275     2.234021      38      2
19         0  173  181     1.727876      41      2
20         0  109  297     3.246312      41      2
21         0  934  295     0.087266      40      2
22         0  865  223     0.698132      40      2

In [ ]:
x = 5

def image_of_x:
    image = img.imread("easy-500/images/0.jpg")
    plt.imshow(image);